.title {
  font-size: xx-large;
  text-align: center;
}

select {
  width: 50%;
  padding: 1.5%;
  border-radius: 11px;
  margin: 0;
  font-weight: bold;
}

label {
  font-size: medium;
  margin: 3% 0;
  padding: 0;
}

h3 {
  font-family: "Syncopate", sans-serif;
  color: rgb(255, 217, 0);
  font-size: xx-large;
}

/* parent */
.parent-dropdowns {
  width: 100%;
  color: rgb(255, 230, 0);
  font-weight: 600;
  font-size: xx-large;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

/* left child*/
.left-panel {
  margin: 1%;
  width: 100%;
  display: flex;
  flex-flow: column;
  margin: 2% 0;
}

.label-select {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0%;
}

/* right child*/
.right-panel {
  font-size: small;
  width: 80%;
  margin: 1%;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 1200px) {
  select {
    width: 90%;
    padding: 2%;
  }
  .label-select {
    margin: 1% 0;
  }
}

@media screen and (max-width: 730px) {
  /* parent */
  .parent-dropdowns {
    flex-flow: wrap;
  }

  select {
    width: 80%;
    padding: 1.5%;
  }
}
